#Aboutuswrap{
    height:300rem;
    width:100%;
    background-color:  #fffef1;
    position: relative;
}
#introwrap{
    width:70%; 
    height:18%; 
    top:3%;
    background-color: #FFF1D7;
    position: absolute;

}
#introwrap2{
    margin-top:17%;
    left:50%;
    width:40%; 
    height:9%; 
    background-color: #FBCCAA;
    position: absolute;
    }
.introtitle{
    font-family: "Quicksand";
    font-style: normal;
    font-size:450%;
    position: absolute;
    left:10%;
    top:30%;
}
.introtitle2{
    font-family: "Quicksand";
    font-style: normal;
    font-size: 300%;
    position: absolute;
    left:55%;
    top:70%;
}
.imgwrap{
    display:inline-flex;
    justify-content:space-between;
    margin-top:48%;
    left:50%;
    width:50%;
    height:13%; 
    position: absolute;
}
.image{
    display:inline-flex;
    width:30%;
    height:35%; 
    background-color: #FFE8AE;
}
.img1.img2.img3{
    position: relative;
    width:20%;
    height:20%;
}

#middlewrap{
    margin-top:80%;
    left:2%;
    width:40%; 
    height:15%; 
    background-color: #FFDCDA;
    position: absolute;
    }
.middletitle{
    position: absolute;
    left: 45%;
    top: 33%;
    font-style: normal;
    font-size:400%;
    font-weight: bold;
    font-family: "Quicksand";
}
.middledetail{
    position: absolute;
    left: 45%;
    top: 40%;
    font-style: normal;
    font-size:300%;
    font-family: "Quicksand";
}
.timename{
    position: absolute;
    font-family: "Quicksand";
    left: 83%;
    top: 30%;
    width: 36rem;
    font-style: normal;
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    transform: rotate(90deg);
}

