#Aboutuswrap{
    height:375rem;
    width:120rem;
    background-color:  #fffef1;
    position: relative;
}
#introwrap{
    width:88rem; 
    height:60rem; 
    left:-2rem;
    top:12rem;
    background-color: #FFF1D7;
    position: absolute;

}
#introwrap2{
    margin-top:35rem;
    left:61rem;
    width:42rem; 
    height:22rem; 
    background-color: #FBCCAA;
    position: absolute;
    }
.introtitle{
    font-family: 'Inter';
    font-style: normal;
    font-size: 3.3rem;
    position: relative;
    left:23rem;
    top:10rem;
    line-height: 4rem;
    letter-spacing: 0.2em;
    transform: translate(-50%,-50%);
}
.introtitle2{
    font-family: 'Inter';
    font-style: normal;
    font-size: 2.2rem;
    position: relative;
    left:45rem;
    top:12rem;
    line-height: 3rem;
    letter-spacing: 0.2em;
    transform: translate(-50%,-50%);
}
#middlewrap{
    margin-top:110rem;
    left:4.3rem;
    width:47rem; 
    height:45rem; 
    background-color: #FFDCDA;
    position: absolute;
    }
#middlewrap2{
    margin-top:169rem;
    left:45rem;
    width:34.5rem; 
    height:42rem; 
    background-color: #FFBDB4;
    position: absolute;
    }
#middlewrap3{
    margin-top:150rem;
    left:85.5rem;
    width:25rem; 
    height:40rem; 
    background-color: #FFDCD7;
    position: absolute;
    }

.middletitle{
    position: absolute;
    left: 55rem;
    top: 112.5rem;
    font-family: 'Inter';
    font-style: normal;
    font-size: 3rem;
    line-height: 3.6rem;
    letter-spacing: 0.2em;
    font-weight: bold;
}
.middletitle2{
    position: absolute;
    left: 7.4rem;
    top: 170rem;
    font-family: 'Inter';
    font-style: normal;
    font-size: 3rem;
    line-height: 3.6rem;
    letter-spacing: 0.2em;
    font-weight: bold;
    text-align: right;
}
.middledetail{
    position: absolute;
    left: 55rem;
    top: 128rem;
    font-family: 'Inter';
    font-style: normal;
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 0.2em;
}
.middledetail2{
    position: absolute;
    left: 7.4rem;
    top: 188rem;
    font-family: 'Inter';
    font-style: normal;
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 0.2em;
    text-align: right;
}
.timename{
    position: absolute;
    left: 98rem;
    top: 113rem;
    width: 36rem;
    font-family: 'Inter';
    font-style: normal;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.2em;
    transform: rotate(90deg);
}
.imgwrap{
    display:inline-flex;
    justify-content:space-between;
    margin-top:69rem;
    left:61rem;
    width:59rem;
    height:13rem; 
    position: absolute;
}
.image{
    display:inline-flex;
    left:61rem;
    width:17rem;
    height:13rem; 
    background-color: #FFE8AE;
}

#demo{
    margin-top:267.5rem;
    left:42rem;
    width:66rem; 
    height:27.5rem; 
    background-color: #E0F998;;
    position: absolute;
    }
#demo2{
    margin-top:243rem;
    left:-0.013rem;
    width:101.5rem; 
    height:49rem; 
    background-color: #C5E8A2;
    position: absolute;
    }
.demotitle{
    position: absolute;
    left: 36rem;
    top: 236rem;
    font-family: 'Inter';
    font-style: normal;
    font-size: 3rem;
    letter-spacing: 0.2em; 
    font-weight: bold; 
}

.img1{
    position: relative;
}
.img2{
    position: relative;
}
.img3{
    position: relative;
}