#wrap{
  position: relative;
  width:100%;
  height:100%;
}
html,body {
  height: 100%;
  width:100%;
  margin: 0;


}
#root{
  height: 100%;
  width:100%;
}
#header{
  width:100%;
  height:6rem;
  position:fixed;
  top:0;
  z-index:100;
}
#header_contents{
  width:40%;
  height:4rem;
  position:absolute;
  right:1%;
  top:5%;
}
@mixin headerscommon(){
  height:2rem;
  position:absolute;
  top:30%;
  font-size:1.3rem;
  font-family: 'Quicksand';
  font-style: normal;
font-weight: 400;
line-height: 2.27rem;
letter-spacing: 0.2rem;
cursor:pointer;
}
#header_home{
  width:5rem;
  right:30rem;
  @include headerscommon();
}
#header_aboutus{
  width:8rem;
 
  right: 20rem;
  @include headerscommon();
}
#header_products{
  width:7rem;
  
  right:12rem;
  @include headerscommon();
}
#header_statistics{
  width:7rem;
  
  right:3.3rem;
  @include headerscommon();
}