#dialog {
  position: absolute;
  width: 25%;
  height: 35%;
  background-color: #fff1d7;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

#dialog_inner_btn {
  background-color: transparent;
  font-family: "Quicksand";
  font-weight: bold;
}

#textarea {
  background-color: #ffb986;
  font-family: "Quicksand";
  border-color: transparent;
  border-radius: 1.5625vw;
  text-align: center;
  width: 20%;
  resize: none;
}
