#wrap{
  position: relative;
  background: #FFFDF2;
  width:100%;
  height:100%;
}

h2{
  font-size: 30rem;
}
@keyframes smoothAppearX {
  from {
    opacity: 0;
    transform: translateX(-5%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes smoothAppearY {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@mixin smoothAppearX {
  animation: smoothAppearX 0.5s ease-in-out 0s 1 normal forwards;
}
@mixin smoothAppearY {
  animation: smoothAppearY 0.5s ease-in-out;
}
.smoothAppearX{
  @include smoothAppearX();
}
.smoothAppearY{
  @include smoothAppearY();
}
@mixin fade-in-box{
  animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */
    transform: translateX(20px);
  }
  @mixin longfade-in-box{
    animation: fadein 2.0s;
      -moz-animation: fadein 2.0s; /* Firefox */
      -webkit-animation: fadein 2.0s; /* Safari and Chrome */
      -o-animation: fadein 2.0s; /* Opera */
      transform: translateX(20px);
    }
  .fade-in-box{
    @include fade-in-box();
  }
  .longfade-in-box{
    @include longfade-in-box();
  }
  @keyframes fadein {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-moz-keyframes fadein { /* Firefox */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-o-keyframes fadein { /* Opera */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  .blinking{
    -webkit-animation: blink 0.7s ease-in-out infinite alternate;
    -moz-animation: blink 0.7s ease-in-out infinite alternate;
    animation: blink 0.7s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes blink{
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @-moz-keyframes blink{
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @keyframes blink{
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
#maincontainer{
  width:60rem;
  height:50rem;
  position:relative;
  top: 14rem;
  left:25%;
  right:25%;
}
#intrologo{
  position:absolute;
  width:50rem;
  height: 15rem;
  
}
#intrologoimage{
  position: absolute;
  z-index:2;
  background-image: url('../image/icon4.png');
  background-repeat:no-repeat;
  background-size: contain;
  @media (min-width: 70rem){
    width: 10rem;
    height: 12rem;
    right:15%;
  
    
    }
    @media(min-width:50rem) and (max-width:69.9rem){
      width: 10rem;
      height: 12rem;
      right:40%;

    }
    @media(min-width:42.5rem) and (max-width:49.9rem){
      width: 10rem;
      height: 12rem;
      right:50%;

    }
    @media(min-width:10rem) and (max-width:42.4rem){
      width: 8rem;
      height: 9rem;
      right:65%;


    }
}
#intrologoname{
  position: absolute;
  @media (min-width: 70rem){
    width: 40rem;
    height: 8rem;
    top:20%;
    left:0%;
    
    }
    @media(min-width:50rem) and (max-width:69.9rem){
      width: 32rem;
      height: 8rem;
      top:20%;
      left:-12%;

    }
    @media(min-width:42.5rem) and (max-width:49.9rem){
      width: 28rem;
      height: 8rem;
      top:20%;
      left:-13%;

    }
    @media(min-width:25rem) and (max-width:42.4rem){
      width: 20rem;
      height: 8rem;
      top:20%;
      left:-13%;

    }
   
 
 
  background-image: url('../image/name3.png');
  background-repeat:no-repeat;
  background-size: contain;
}
#introdes{
  position: absolute;
 
  opacity: 1;
 
  @media (min-width: 70rem){
    width: 50rem;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.2em;
    bottom:10%;
  left:-10%;
    
    }
    @media(min-width:50rem) and (max-width:69.9rem){
      width: 40rem;
      font-weight: 400;
      font-size: 30px;
      line-height: 48px;
      letter-spacing: 0.2em;
      bottom:14%;
    left:-17%;

    }
    @media(min-width:42.5rem) and (max-width:49.9rem){
      width: 30rem;
      font-weight: 400;
      font-size: 25px;
      line-height: 48px;
      letter-spacing: 0.2em;
      bottom:14%;

    left:-15%;


    }
    @media(min-width:25rem) and (max-width:42.4rem){
      width:25rem;
      font-weight: 400;
      font-size: 20px;
      line-height: 48px;
      letter-spacing: 0.2em;
      bottom:25%;

    left:-15%;


    }
  font-family: 'Inter';
font-style: normal;


}
#introhov{
  opacity: 0;
  position: absolute;
  bottom:10%;
  left:15%;
  font-size: 1rem;
  width: 50rem;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
letter-spacing: 0.2em;
transition: 0.5s;
transform: translateY(3px);
color: #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
#putmouse{
  
  font-family: 'Inter';
font-style: normal;

letter-spacing: 0.2em;
@media (min-width: 70rem){
  position: absolute;
  bottom:-27%;
  left:15%;
  font-size: 2rem;
  width: 100rem;
  
font-weight: 400;
line-height: 40px;
  }
  @media(min-width:50rem) and (max-width:69.9rem){
    position: absolute;
  bottom:-27%;
  left:2%;
  font-size: 1.8rem;
  width: 100rem;

font-weight: 400;
line-height: 40px;

  }
  @media(min-width:20rem) and (max-width:49.9rem
  ){
    position: absolute;
    bottom:-27%;
    left:0%;
    font-size: 1.5rem;
    width: 100rem;
  
  font-weight: 400;
  line-height: 40px;


  }
}



.logotrans{
  transition-duration: 1s;
  @media (min-width: 70rem){
    transform: translate(-20rem, 0);
   
    
    }
    @media(min-width:50rem) and (max-width:69.9rem){
      transform: translate(-18rem, 0);

    }
    @media(min-width:42.5rem) and (max-width:49.9rem){
      transform: translate(-10rem, 0);

    }
    @media(min-width:10rem) and (max-width:42.4rem){
      transform: translate(-8rem, 3rem);


    }
}
.logoflex{
  @media (min-width: 75rem){
    transform: translate(-20rem, 0);
   
    
    }
    @media(min-width:50rem) and (max-width:74.9rem){
      transform: translate(-18rem, 0);

    }
    @media(min-width:42.5rem) and (max-width:49.9rem){
      transform: translate(-10rem, 0);

    }
    @media(min-width:10rem) and (max-width:42.4rem){
      transform: translate(-8rem, 3rem);


    }
   
}
@mixin nextuploadpos(){
  @media (min-width: 75rem){
    position:absolute;
    bottom:6%;
  right:7%;
  font-weight: 400;
  font-size: 1.875rem;
  }
  @media(min-width:50rem) and (max-width:74.9rem){
    position:absolute;
    bottom:5%;
  right:10%;

  font-size: 1.7rem;
  }
  @media(min-width:12.5rem) and (max-width:49.9rem){
    position:absolute;
    bottom:4%;
    right:7%;

font-size: 1.5rem;
  }
}
#nextupload{
 @include nextuploadpos();
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem;
  letter-spacing: 0.2em;
  color: #000000;
  cursor:pointer;
}
#mainwrap{
  width:100%;
  height:100%;
  background: #FFFDF2;
}
