#wrap{
  position: relative;
  background: #FFFDF2;
  width:100%;
  height:100%;
}

h2{
  font-size: 30rem;
}
@keyframes smoothAppearX {
  from {
    opacity: 0;
    transform: translateX(-5%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes smoothAppearY {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@mixin smoothAppearX {
  animation: smoothAppearX 0.5s ease-in-out 0s 1 normal forwards;
}
@mixin smoothAppearY {
  animation: smoothAppearY 0.5s ease-in-out;
}
.smoothAppearX{
  @include smoothAppearX();
}
.smoothAppearY{
  @include smoothAppearY();
}
@mixin fade-in-box{
  animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */
  }
  @mixin longfade-in-box{
    animation: fadein 2.0s;
      -moz-animation: fadein 2.0s; /* Firefox */
      -webkit-animation: fadein 2.0s; /* Safari and Chrome */
      -o-animation: fadein 2.0s; /* Opera */
      transform: translateX(20px);
    }
  .fade-in-box{
    @include fade-in-box();
  }
  .longfade-in-box{
    @include longfade-in-box();
  }

@keyframes spinner {
  from {transform: rotate(0deg); }
  to {transform: rotate(360deg);}
}

  @keyframes fadein {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-moz-keyframes fadein { /* Firefox */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-o-keyframes fadein { /* Opera */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  .blinking{
    -webkit-animation: blink 0.7s ease-in-out infinite alternate;
    -moz-animation: blink 0.7s ease-in-out infinite alternate;
    animation: blink 0.7s ease-in-out infinite alternate;
  }

  @-webkit-keyframes blink{
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @-moz-keyframes blink{
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @keyframes blink{
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
#maincontainer{
width:80%;
  height:100%;
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
#mainintro{
  position:absolute;
  top: 50%;
  left:50%;
  width:100%;
  padding-bottom:20%;
  
}
#intrologo{
  position:absolute;
  top: 52%;
  left:50%;
 
  width:100%;
  padding-bottom:20%;
  transform: translate(-50%,-50%);
  
}
.center{
  transform: translate(-50%,-50%);
  transition: 0.5s;
}
.goleft{
  transform: translate(-65%,-50%);
  transition: 0.5s;
}
#intrologoimage{
  position: absolute;
  z-index:2;
  background-image: url('../image/icon4.png');
  background-repeat:no-repeat;
  background-size: contain;
  background-position:center;
  width:20%;
  padding-bottom:20%;
  right:12%;
  top:-15%;

 
}
#intrologoname{
  position: absolute;
  width: 60%;
  height: 60%;
  background-image: url('/image/name3.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  left: 10%;
}
#introdes{
  position: absolute;
  opacity: 1;
  font-weight: 400;
  font-size: 2.4vw;
  line-height: 2vw;
  letter-spacing: 0.2em;
  font-family: 'Quicksand';
  font-style: normal;
  left: 14%;
  bottom: 0;
  width: 60%;
  height: 40%;


}

#putmouse{
  
  font-family: 'Quicksand';
font-style: normal;

letter-spacing: 0.2em;
position:absolute;
bottom:-10%;
width:100%;
text-align: center;
font-size:2.5vw;
line-height: 3vw;
font-weight: 400;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.logotrans{
  margin-right:27%;
  transition: 1s;

}


.logoflex{

    margin-right: 27%;

   
}


#nextupload{
  @media(min-width:47rem){ 
   
    font-size: 2rem;
  }   
  @media(min-width:1rem) and (max-width:46.999rem){
    font-size: 4vw;
  }
  position:fixed;
  right:2%;
  bottom:3%; 
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem;
  letter-spacing: 0.2em;
  color: #000000;
  cursor:pointer;

  font-size: 2vw;
}
#loadingwrap{
  width:100%;
  height:80%;
  position:absolute;
  bottom:0;
  z-index:3000;
  background-color: #FFFDF2;
}
#loading{
  width:20rem;
  height:25rem;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate((-50%,-50%));
 
}
#loadingspinner{
  width:100%;
  height:75%;
  background-image: url('../image//loading.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  animation: spinner 1.6s infinite;
}
#loadingmessage{
  width:27rem;
  height:35%;
  text-align: center;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 36px;
letter-spacing: 0.2em;

color: #000000;
position:absolute;
left:-15%;
}
.loadfade{
  animation: slideUp 1.6s infinite;
  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
}
}
#mainwrap{
  width:100%;
  height:100%;
  overflow:hidden;
  background: #FFFDF2;
}