#receipt {
  background: #ffffff;
  width: 25%;
  height: 30vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translate(0, -50%);
}
#receipt_title {
  font-size: 1.875vw;
  font-family: "Quicksand";
  text-align: center;
  margin-top: 2%;
}

#receipt_header {
  font-size: 1.5vw;
  font-family: "Quicksand";
  text-align: center;
}

#receipt_header_layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
}

#divider {
  position: absolute;
  width: 22vw;
  height: 0.1%;
  background: #000000;
}

#fruitscontainer {
  position: absolute;
  width: 85%;
  height: 45%;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.8rem;
    border-radius: 0.4rem;
    background: rgba(158, 197, 124);
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0.4rem;
  }
}
#fruitinfocontainer {
  margin-top: 3%;
  width: 100%;
  height: 20%;
  font-size: 1.5vw;
  font-family: "Quicksand";
}
#receiptfruitnames {
  position: absolute;
  left: 23%;
  width: 40%;
  text-align: center;
}
#receiptfruitcount {
  position: absolute;
  left: 5%;
}
#mulitiplesymbol{
  position: absolute;
  left:15%;
  font-size: 1.3vw;
}
#receiptfruitprice {
  position: absolute;
  right: 1%;
  width: 30%;
  text-align: right;
}
#receipttotal {
  position: absolute;
  bottom: 24%;
  left: 8.5%;
  width: 50%;
  text-align: left;
  font-size: 1.5vw;
  font-family: "Quicksand";
}
#receipttotalwon {
  position: absolute;
  bottom: 24%;
  right: 8.5%;
  width: 50%;
  text-align: right;
  font-size: 1.5vw;
  font-family: "Quicksand";
}
#receipt_headercon{
  position:absolute;
  top:15%;
  width:100%;
}

#divider{
  position:absolute;
  left:50%;
  transform: translate(-50%,0);
}
#stardivider{
  font-size: 0.3vw;
  text-align: center;
  width:50%;
  position:absolute;
  top:10%;
  left:50%;
  transform: translate(-50%,0);
}
.divider1{
  top:23%;
}
.divider2{

  bottom:30%;
}
