#wrap{
  position: relative;
  background: #FFFDF2;
  width:100%;
  height:100%;
}
@keyframes smoothAppearX {
  from {
    opacity: 0;
    transform: translateX(-5%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes smoothAppearY {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@mixin smoothAppearX {
  animation: smoothAppearX 0.5s ease-in-out 0s 1 normal forwards;
}
@mixin smoothAppearY {
  animation: smoothAppearY 0.5s ease-in-out;
}
.smoothAppearX{
  @include smoothAppearX();
}
.smoothAppearY{
  @include smoothAppearY();
}
@mixin fade-in-box{
  animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */
    transform: translateX(20px);
  }
  @mixin longfade-in-box{
    animation: fadein 2.0s;
      -moz-animation: fadein 2.0s; /* Firefox */
      -webkit-animation: fadein 2.0s; /* Safari and Chrome */
      -o-animation: fadein 2.0s; /* Opera */
      transform: translateX(20px);
    }
  .fade-in-box{
    @include fade-in-box();
  }
  .longfade-in-box{
    @include longfade-in-box();
  }
  @keyframes fadein {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-moz-keyframes fadein { /* Firefox */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-o-keyframes fadein { /* Opera */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  .blinking{
    -webkit-animation: blink 0.7s ease-in-out infinite alternate;
    -moz-animation: blink 0.7s ease-in-out infinite alternate;
    animation: blink 0.7s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes blink{
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @-moz-keyframes blink{
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @keyframes blink{
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
#maincontainer{
  width:60rem;
  height:50rem;
  position:relative;
  top: 14rem;
  left:25%;
  right:25%;
}
#intrologo{
  position:absolute;
  width:50rem;
  height: 15rem;
 
    
}
#intrologoimage{
  position: absolute;
  width: 10rem;
  height: 12rem;
  right:15%;
  z-index:2;
  background-image: url(../image/icon4.png);
  background-repeat:no-repeat;
  background-size: contain;
}
#intrologoname{
  position: absolute;
  width: 40rem;
  height: 8rem;
  top:20%;
  left:0%;
  background-image: url('../image/name3.png');
  background-repeat:no-repeat;
  background-size: contain;
}
#introdes{
  position: absolute;
  bottom:10%;
  left:-10%;
  font-size: 1rem;
  opacity: 1;
  width: 50rem;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
letter-spacing: 0.2em;
transition: 0.5s;
transition-delay: 0.2s;
transform: translateY(5px);
}
#introhov{
  opacity: 0;
  position: absolute;
  bottom:10%;
  left:15%;
  font-size: 1rem;
  width: 50rem;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
letter-spacing: 0.2em;
transition: 0.5s;
transform: translateY(3px);
color: #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
#putmouse{
  position: absolute;
  bottom:-27%;
  left:15%;
  font-size: 2rem;
  width: 100rem;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
line-height: 40px;
letter-spacing: 0.2em;
}



.logotrans{
  @media (min-width: 1500px){
    transform: translate(-22rem, 0);
    transition-duration: 1s;
    
    }
    @media(min-width:400px) and (max-width:1500px-1px){
      transform: translate(-32rem, 0);

    }
}